## Lambda Functions 
--> Lambda Functions are single-line Anonymous Functions
--> Syntax ::
            Lambda arguments:Expression

--> Lambda Function will take multiple arguments
--> Lambda Function will take only one expression, this expression is evaluated and output will be returned
--> Lambda has no return value

In [2]:
#Example 1
sq=lambda x:x**2
print(sq(10))
#Example 2
iseven=lambda n:n%2==0
print(iseven(10))

100
False

## Filter, map , reduce
1.Filter --> filters the list based on some condition and if condition satisfy returns True.
2.Map    --> iterates through all items in the list and returns list with new items.
3.Reduce --> It performs aggregate operations and returns a single value.

Note: All of these methods takes a function and list.

## Map() Function  -- Syntax: map(function, sequence)

--> Function argument can be applied to each element of sequence and generate a new sequence.
--> if not use any typecasting then it outputs only the address only

In [14]:
#Example 1
l=[1,2,3,4,5]
l1=list(map(lambda n:n*n , l))          ## typecasting into list
print(l1)
#Example 2
l1=[1,2,3,4,5]
l2=[10,20,30,40,50]
l3=tuple(map(lambda x,y:x*y , l1,l2))   ## typecasting into tuple
print(l3)
#Example 3
l1=[1,2,3,4,5]
l2=[1,2,3,4,5]
l3=[1,2,3,4,5]
l4=set(map(lambda x,y,z:x+y+z , l1,l2,l3))    ## Tpecasting into set
print(l4)

[1, 4, 9, 16, 25]
(10, 40, 90, 160, 250)
{3, 6, 9, 12, 15}

## Filter Function
--> The filter() function filters the given sequence with the help of a function that tests each element in the sequence to be ""true or not"".
--> Syntax:: 
            filter(FunctionAddress,Sequence)

In [19]:
#example
##using normal function
def iseven(n):
    if n%2==0:
        return True
    else:
        return False
iseven(10)

##using lambda function
print(list(filter(iseven,[1,2,3,4,5,6])))

##filter with lambda function is even
nums=[23,45,46,8,6]
print(list(filter(lambda n:n%2==0,nums)))
##filter with lambda function is odd
print(list(filter(lambda n:n%2!=0 ,[2,3,4,5])))

[2, 4, 6]
[46, 8, 6]
[3, 5]

In [6]:
#printing prime no's 
#n1=int(input())
#n2=int(input())
#print(list(filter(lambda x: all(x%i!=0 for i in range(2,int(x**0.5)+1)),range(n1,n2))))
'''s='9392671496'
l=len(s)
L=[]
for i in range(l):
    if int(s[i])>1:
        L.append(int(s[i]))
print(list(filter(lambda x: all(x%i!=0 for i in range(2,int(x**0.5)+1)),L)))
print(list(filter(lambda x: all(x%i for i in range(2,int(x**0.5)+1)),[9,3,9,2,6,7,1,4,9,6])))''' 

s=input('Enter the mobile no:  ')
L=[]
for i in s:
    if int(i)>1:
        L.append(int(i))
print(list(filter(lambda x: all(x%i!=0 for i in range(2,int(x**0.5)+1)),L)))
print(list(filter(lambda x: all(x%i!=0 for i in range(2,int(x**0.5)+1)),L)))

[3, 2, 7]

## Reduce Function  --> Syntax: reduce(function,sequence)
--> Reduce function is used to apply a particular function passed in its argument to all the list elements mentioned in the sequence passed along
--> This function is defined in "functools" module
--> it is used for operations like sum,avg,max and min.
--> using this function flattening the list
## ternary operator --> Syntax: True value if condition else False value
--> it is short-hand of if-else condition
--> ternary operator is used for representing if-else condition in a single line

In [24]:
#Example : 
from functools import reduce
l=[100,20,600,5,10]
#Finding max number in a given list by using reduce
print(reduce(lambda a,b: a if a>b else b, l))
#find min number
print(reduce(lambda a,b:a if a<b else b , l))
##Finding Sum of no's
print(reduce(lambda a,b:a+b,l))
##Flattening the list of nested list by using reduce
L=[[100,200],[300],[63,5,6,7]]
print(reduce(lambda a,b:a+b,L))                 ## flattening list mean converting sublist to single one

600
5
735
[100, 200, 300, 63, 5, 6, 7]

In [2]:
n=5
stars=(2*n)-1
spaces=0
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces+=1
    stars-=2

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *