PANDAS:
i.  --> High performance Data Analysis Tool
ii. --> working with large dataset
iii --> supports (or) load files with different formats
iv. --> More flexible
v.  --> Represents in Tabular way(Rows and columns)
vi. --> working on missing data
vii.--> indexing-slicing-subsetting the large data sets
viii--> Merge and join two different datasets easily
ix  --> Reshape datasets


(i) this happens using three datasets:
   (1) Series       --> one Dimensional      [list]
   ## Syntax: pd.Series(data,index)  
   (2) DataFrame    --> two dimensional      [list/dictionary/series/another Dataframe]
   ## Syntax: pd.DataFrame(data)
   (3) Panel        --> Multi-dimensional    [data,col(major axis),rows(minoraxis)]
   ## Syntax: pd.Panel(data,major axis,minor axis,dtype)

# Series example

In [2]:
import pandas as pd
l=[1,2,3,54,67]
pd.Series(l)

## we can change the index values
#pd.Series(l,index=['i','ii','iii','iv','v'])

0     1
1     2
2     3
3    54
4    67
dtype: int64

## DataFrame Example

In [8]:
d={'name':['Bharath','Chandra','Kumar'],'Marks':[89,94,94]}
pd.DataFrame(d)

      name  Marks
0  Bharath     89
1  Chandra     94
2    Kumar     94

In [9]:
#12-09-24          """Python pandas - Series"""

#create an empty series
'''import pandas as pd
s=pd.Series()
print(s)
'''
# Create a Series from ndarray
import pandas as pd
import numpy as np
#data=np.array(['a','b','c','d'])
# user defining the index value
#s=pd.Series(data,index=[101,102,103,104])
#print(s)

#Create A series from dict
data={'a':0.,'b':1.,'c':2.}
#s=pd.Series(data)
s = pd.Series(data,index=['b','c','d','a'])  ## index order is persisted and the missing element is filled with NaN
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [14]:
## Create Series from scalar
'''s=pd.Series(5,index=[0,1,2,3])
print(s) '''

#Accessing Data from Series with Position
#Data in the series can be accessed similar to that in an ndarray.
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

#retrive the first element
print(s[0])
#retrive the first 3 elements
print(s[:3])
#retrive the last 3 elements
print(s[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [23]:
#### Retrieve Data using label(index)
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

#retrieve a single element
#print(s['a'])
#multiple elementns
print (s[['a','c','d']])  ## double brackets

'''label not contained, an exception is raised'''
#retrieve multiple elements
#print(s['f'])    ### Keyerror

a    1
c    3
d    4
dtype: int64

Pandas

## Pandas-DataFrame And Series
--> Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning.
--> It provides two primary data structures: Series and DataFrame. 
## Series --> A series is a one-dimensional array-like object.
## DataFrame --> A DataFrame is a two-dimensional,size-mutable, and potentially heterogeneous tabluar data structure with labeled axes(rows and columns).

In [1]:
import pandas as pd

In [4]:
#Series
#A series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table.

import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)    ## Series is in-bulit function
print("Series \n",series)   ## print along with their index position and elements
print(type(series))

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
## Create a Series from dictionary
data={'a':1,'b':2,'c':3}
series=pd.Series(data)
print(series)            ## it consider a,b,c as index positions of 1,2,3.

a    1
b    2
c    3
dtype: int64

In [6]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [8]:
##Dataframe
## create a Dataframe from a dictionary of list

data={'Name':['bharath','jhonny','jack'],
      'Age':[10,24,89],
      'City':['Bangalore','New York','Hyderabad']
      }
df=pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age       City
0  bharath   10  Bangalore
1   jhonny   24   New York
2     jack   89  Hyderabad
<class 'pandas.core.frame.DataFrame'>

In [9]:
## Accessing inside a array
import numpy as np
np.array(df)

array([['bharath', 10, 'Bangalore'],
       ['jhonny', 24, 'New York'],
       ['jack', 89, 'Hyderabad']], dtype=object)