In [1]:
#1
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
#2
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [12]:
## snake 
n=5
for i in range(1,n+1):
    dummy=((i-1)*n)+1
    k=n*i
    for j in range(1,n+1):
        if i%2==1:
            print(dummy,end=' ')
            dummy+=1
        else:
            print(k,end=' ')
            k-=1 
    print()

1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

In [6]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(i+64),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [7]:
# Hollow Diamond pattern

# Reading number of row
# row = int(input('Enter number of row: '))

# # Upper part of hollow diamond
# for i in range(1, row+1):
#     for j in range(1,row-i+1):
#         print(" ", end="")
#     for j in range(1, 2*i):
#         if j==1 or j==2*i-1:
#             print("*", end="")
#         else:
#             print(" ", end="")
#     print()

# # Lower part of hollow diamond
# for i in range(row-1,0, -1):
#     for j in range(1,row-i+1):
#         print(" ", end="")
#     for j in range(1, 2*i):
#         if j==1 or j==2*i-1:
#             print("*", end="")
#         else:
#             print(" ", end="")
#     print()


n=int(input())
spaces=n//2+1
stars=1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,2*i):
        if st==1 or st==3*i-2:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    *
    *
    *

In [2]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [7]:
num=int(input()) 
for i in range(num):
    dummy=i+1
    d=num-1
    for j in range(i+1):
        print(dummy,end=' ')
        dummy+=d
        d=d-1

    print()

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

## Practice Patterns

In [ ]:
# Print Pascal's Triangle in Python
from math import factorial
# input n
n = 5
for i in range(n):
    for j in range(n-i+1):

        # for left spacing
        print(end=" ")

    for j in range(i+1):

        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")

    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [2]:
## 1
n=int(input())
spaces=0
stars=(2*n)-1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(1,stars+1):
        print('*',end=" ")
    print()
    spaces+=1
    stars-=2

* * * * * * *
  * * * * *
    * * *
      *

In [12]:
## 2
n=int(input())
spaces=0
stars=(2*n)-1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(stars,0,-1):
        print(st,end=" ")
    print()
    spaces+=1
    stars-=2

7 6 5 4 3 2 1
  5 4 3 2 1
    3 2 1
      1

In [14]:
## 3
n=int(input())
spaces=n-1
stars=1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(1,stars+1):
        print(st,end=" ")
    print()
    spaces-=1
    stars+=2

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7

In [3]:
## 4
n=int(input())
spaces=n//2
stars=1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(1,stars+1):
        print("*",end=" ")
    print()
    if row<=n//2:
        stars+=2
        spaces-=1
    else:
        stars-=2
        spaces+=1

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [21]:
## 5
n=int(input())
spaces=n//2
stars=1
for row in range(1,n+1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(1,stars+1):
        print(st,end=" ")
    print()
    if row<=n//2:
        stars+=2
        spaces-=1
    else:
        stars-=2
        spaces+=1

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3
      1

In [35]:
## 6
n=5
spaces=n-1
for i in range(1,n+1):
    dummy=n
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(1,i+1):
        print(dummy,end=" ")
        dummy-=1
    print()
    spaces-=1

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [53]:
## 7
num=5
spaces=num-1
stars=n
for i in range(num,0,-1):
    for sp in range(1,spaces+1):
        print(" ",end=" ")
    for st in range(i,stars+1):
        print(st,end=" ")
    print()
    spaces-=1

        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [11]:
## 8
n=5
spaces=0
for i in range(5,0,-1):
    for sp in range(1,spaces+1):
        print(' ',end=" ")
    for st in range(i,0,-1):
        print(st,end=" ")
    print()
    spaces+=1

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [15]:
## 9
num=5
spaces=num-1
# stars=1
# dummy=1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(i,0,-1):
        print(k,end=" ")
    print()
    spaces-=1

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [17]:
##10
num=5
spaces=num-1
dummy=1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(i,0,-1):
        print(i,end=" ")
    print()
    spaces-=1

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [19]:
## 11
n=5
spaces=0
stars=n
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(1,stars+1):
        print(k,end=" ")
    print()
    stars-=1
    spaces+=1

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [21]:
## 12
n=5
spaces=n-1
stars=1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print(st,end=" ")
    print()
    stars+=1
    spaces-=1

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [22]:
## 13
n=int(input())
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(j,end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [23]:
## 14
num=5
stars=1
for i in range(1,n+1):
    for st in range(i,0,-1):
        print(st,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [30]:
## 15
num=5
stars=num-1
for i in range(1,n+1):
    for j in range(num,stars,-1):
        print(j,end=' ')
    print()
    stars-=1

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [31]:
## 16 
n=int(input())
stars=n
for i in range(1,n+1):
    for j in range(1,stars+1):
        print(j,end=' ')
    print()
    stars-=1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [32]:
## 17
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
## 18
n=3
spaces=0
stars=(n*2)-1
for i in range(1,n+1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print(st,end=" ")
    print()
    stars-=2
    spaces+=1

1 2 3 4 5
  1 2 3
    1

In [37]:
## 19
n=4
spaces=0
stars=(n*2)-1
for i in range(n,0,-1):
    for sp in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print(i,end=" ")
    print()
    stars-=2
    spaces+=1

4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1

In [7]:
## 20
n=4
spaces=n-1
stars=1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(1,stars+1):
        print(i,end=' ')
    print()
    stars+=2
    spaces-=1

      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4

In [8]:
## 21
n=4
stars=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(stars,end=' ')
    print()
    stars+=2

1
3 3
5 5 5
7 7 7 7

In [10]:
## 22
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [14]:
## 23
n=5
stars=1
for i in range(n,0,-1):
    for j in range(1,stars+1):
        print(i,end=' ')
    print()
    stars+=1

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [16]:
## 24
n=6
stars=n
for i in range(n,0,-1):
    for j in range(1,stars+1):
        print(i,end=' ')
    print()
    stars-=1

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [17]:
## 25
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
## 26
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [19]:
## 27
n=4
spaces=n-1
stars=1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for st in range(1,stars+1):
        print('*',end=' ')
    print()
    spaces-=1
    stars+=2

      *
    * * *
  * * * * *
* * * * * * *

In [20]:
## 28
n=5
spaces=n-1
stars=1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    for k in range(1,stars+1):
        print('*',end=' ')
    print()
    stars+=1
    spaces-=1

        *
      * *
    * * *
  * * * *
* * * * *

In [26]:
## 29

n=5
for i in range(n,0,-1):
    print('* '*i)
# stars=n
# for i in range(1,n+1):
#     for k in range(1,stars+1):
#         print('*',end=' ')
#     print()
#     stars-=1

* * * * *
* * * *
* * *
* *
*

In [27]:
## 30
n=5
for i in range(1,n+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [28]:
## 31
n=4
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [1]:
## 32
n = int(input())
spaces = n - 1

for i in range(1, n + 1):
    # Print leading spaces
    for j in range(spaces):
        print(' ', end=' ')
    
    # Print increasing part of the row
    num = i
    for j in range(i):
        print(num, end=' ')
        num += 2
    
    # Print decreasing part of the row (mirroring the increasing part)
    num -= 4
    for j in range(i - 1):
        print(num, end=' ')
        num -= 2    
    
    # Move to the next row
    print()
    spaces -= 1

        1
      2 4 2
    3 5 7 5 3
  4 6 8 10 8 6 4
5 7 9 11 13 11 9 7 5

In [ ]:
n=int(input())
spaces=n-1
for i in range(1,n+1):
    for j in range(1,spaces+1):
        print(' ',end=' ')
    num=i
    for j in range(i):
        print(num,end=' ')
        num+=1
    num-=2
    for j in range(i - 1):
        print(num,end=' ')
        num-=1
    print()
    spaces-=1

        1
      2 4 2
    3 5 7 5 3
  4 6 8 10 8 6 4
5 7 9 11 13 11 9 7 5

In [17]:
def generate_pattern(n):
    for i in range(1, n + 1):
        row = []
        num = i
        for j in range(i):
            row.append(num)
            num += 2  # Increment by 2 each time
        # Append the reversed part, omitting the last element
        row += row[-2::-1]
        # Center-align the row by adding spaces before the numbers
        print("  " * (n - i), " ".join(map(str, row)))

# Set n as the number of rows you want to generate
n = 4
generate_pattern(n)

       1
     2 4 2
   3 5 7 5 3
 4 6 8 10 8 6 4

In [14]:
#33
s=input('enter :')
l=len(s)
for i in range(l+1):
    for j in range(i):
        print(s[j],end=' ')
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [10]:
#34
s=input('enter :')
l=len(s)
for i in range(l):
    for j in range(i+1):
        print(s[i],end=' ')
    print()

p
y y
t t t
h h h h
o o o o o
n n n n n n